<br>
    <div class='m-auto w-50'>
        <h3><a href="{% url 'artist_detail' id=painting.artist.id %}">{{ painting.artist }}</a></h3>
        <h5><a href="{% url 'paintings' %}{{ painting.id }}">{{ painting.name }}</a></h5>
        <a href="{% url 'paintings' %}{{ painting.id }}">
            {% if painting.image %}
            <img src="{{ painting.image.url }}" alt="{{ painting.name }}" max-width="200" height="200"/>
            {% endif %}
        </a>
        <p>Price: {{ painting.price }}</p>
        {% if painting.availability %}
            <p>Available</p>
        {% else %}
            <p>Out of Stock</p>
        {% endif %}
    </div>
<br>