<br>
    <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4 card m-2">
        <h3><a href="{% url 'artist_detail' id=painting.artist.id %}">{{ painting.artist }}</a></h3>
        <h5><a href="{% url 'paintings' %}{{ painting.id }}">{{ painting.name }}</a></h5>
        {% if painting.image %}
        <a href="{% url 'paintings' %}{{ painting.id }}">
            <div style="background: url({{ painting.image.url }}) center/contain no-repeat; height:250px;"></div>
        </a>
        <p>{{ painting.text|linebreaksbr }}</p>
        <div>
            <a href="{% url 'painting_detail' id=painting.id %}">Comments: {{ painting.comments.count }}</a>
            <span>
                <a href="{% url 'painting_detail' id=painting.id %}">Likes: {{ painting.likes.users.count }}</a></span>
        </div>
        {% endif %}
            <div class="d-flex">Price:<span> {{ painting.price }}</span></div>
        {% if painting.availability %}
            <p>Available</p>
        {% else %}
            <p>Out of Stock</p>
        {% endif %}
    </div>
<br>