{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Gallery Page{% endblock %}

{% block page_heading %}
<br>
    <div class="container m-auto">
        <h3>{{ painting.name }}</h3>
        <h5><a href="{% url 'artist_detail' id=painting.artist.id %}">{{ painting.artist }}</a></h5>
    </div>
{% endblock %}

{% block page_content %}
<br>
    <div class='mx-auto mb-4 container'>
        <div class="mb-4">
            <img src="{{ painting.image.url }}" alt="{{ painting.name }}" max-width="200" height="500"/>
        </div>
        <p>Description: {{ painting.description }}</p>
        <p>Year: {{ painting.year }}</p>
        <div class='d-flex'>
                <p>Subject:</p>
                <ul>
                {% for value in painting.get_subject_values %}
                    <li> {{ value }} </li>   
                {% endfor %}
                </ul>
            </div>
        <p>Trend: {{ painting.trend }}</p>
        <p>Media: {{ painting.media }}</p>
        <p>Size: {{ painting.size.capitalize }}</p>
        <p>Price: {{ painting.price }}</p>
        {% if painting.availability %}
            <p>Available</p>
        {% else %}
            <p>Out of Stock</p>
        {% endif %}

        <form method="post" action="{% url 'add_to_cart' painting.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name='quantity' type="number" min="1" max="2" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
        <br>
        {% if request.user in painting.likes.users.all %}
        <a href="{% url 'like_painting' id=painting.id %}">Unlike this painting</a>
        {% else %}
        <a href="{% url 'like_painting' id=painting.id %}">Like this painting</a>
        {% endif %}
        <br>
        <br>
        <form method="post" action="{% url 'add_comment' id=painting.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Add Comment</button>
        </form>
        <br>
        {% for comment in painting.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created }}</div>
                <strong>{{ comment.user }}</strong>
                <p>{{ comment.comment|linebreaks }}</p>
            </div>
            <hr>
        {% empty %}
            <p>No comments added.</p>
        {% endfor %}

        <div>
            <a type='button' class='btn btn-primary' href="{% url 'paintings' %}">Return to Gallery</a>
        </div>
        <br>
        {% if user.profile.profile_type == 'ARTIST' %}
        <div>
            <a type='button' class='btn btn-warning' href="{% url 'painting_edit' id=painting.id %}">Update</a>
        </div>
        <br>
        <div>
            <a type='button' class='btn btn-danger' href="{% url 'delete_painting' id=painting.id %}">Delete</a>
        </div>
        <br>
        {% endif %}
    </div>

{% endblock %}