{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% load custom_tags %}

{% block page_title %}Auction Page{% endblock %}

{% block page_heading %}
<br>
    <div class="container m-auto">
        <h3>{{ auction.painting.name }} - Auction Details</h3>
        <h5><a href="{% url 'artist_detail' id=auction.painting.artist.id %}">{{ auction.painting.artist }}</a></h5>
    </div>
{% endblock %}

{% block page_content %}
<br>
    <div class='mx-auto mb-4 container'>
        <div class="mb-4">
            <img src="{{ auction.painting.image.url }}" alt="{{ auction.painting.name }}" max-width="200" height="500"/>
        </div>
        <p>Description: {{ auction.painting.description }}</p>
        <p>Year: {{ auction.painting.year }}</p>
        <div class='d-flex'>
                <p>Subject:</p>
                <ul>
                {% for value in auction.painting.get_subject_values %}
                    <li> {{ value }} </li>   
                {% endfor %}
                </ul>
            </div>
        <p>Trend: {{ auction.painting.trend }}</p>
        <p>Media: {{ auction.painting.media }}</p>
        <p>Size: {{ auction.painting.size.capitalize }}</p>
        <hr>
        {% if auction.is_active %}
            <p id='current_price'>Current Bid Price: {{ auction.current_price }}</p>
            <div class="d-flex justify-content-start">
                {% include 'place_bid.html' %}
            </div>
            <p id='alert' style="display: none; color: red;"> {{ message }} </p>
            <p id='form_err' style="display: none; color: red;"> {{ bid_form.errors }} </p>
            {% if auction.buy_price %}
            <p>-Or-</p>
            <div class="d-flex justify-content-start">Price: {{ auction.painting.buy_price }}
                <span><a type='button' class='btn btn-primary' href="{% url 'checkout' %}">Buy now</a></span>
            </div>
            <br>
            {% endif %}
        {% elif auction.bid_set.count > 0 and auction.winner_price %}
            <div class="d-flex justify-content-start">
                Item sold for: {{ auction.winner_price }}
            </div>
            <div class="d-flex justify-content-start">
                Auction winner: {{ auction.winner }}
            </div>  
        {% elif auction.bid_set.count > 0 %}
        <div class="d-flex justify-content-start">
            <p>The highest bid {{ auction.bid_set.all.0.bid }} did not reach the minimum selling price.</p> 
        </div>
        {% else %}
        <div class="d-flex justify-content-start">
            <p>No bids.</p> 
        </div>
        {% endif %}
        <div>
            <div id="time_left_{{ auction.id }}" style="color: red;"></div>
        </div>
        <br>
        <div>
            <a type='button' class='btn btn-primary' href="{% url 'auctions' %}">Return to Auctions</a>
        </div>
{% endblock %}

{% block js %}

    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script>
        var auctions = [];
        auctions.push({
            pk: "{{ auction.id }}",
            start_date: "{{ auction.start_date.isoformat }}",
            duration: "{{ auction.duration|to_milliseconds }}",
        });
    </script>
    <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
    
{% endblock %}