{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% load custom_tags %}

{% block page_title %}Auctions Page{% endblock %}

{% block page_heading %}
{% if id %}My Auctions
{% elif 'live' in request.path %}Live Auctions
{% else %} Auctions List
{% endif %}
{% endblock %}

{% block page_content %}

<!-- listing own auctions -->

{% if id %}
    {% if user.is_authenticated %}
        {% with user.auctions.all as auctions %}
            {% for auction in auctions %}
                {% include 'auction_item.html' %}
            {% empty %}
                <p>You don't have any auction yet.</p>
            {% endfor %}
        {% endwith %}
    {% endif %}

<!-- listing live auctions -->

{% elif 'live' in request.path %}

    {% with auctions|live_filter as auctions %}
        {% for auction in auctions %}
            {% if auction.is_active %}
                {% include 'auction_item.html' %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% if auctions|live_count == 0 %}
        <p>There are no live auctions.</p>
    {% endif %}
    
<!-- listing all auctions, without filters -->

{% else %}

    {% for auction in auctions %}
        {% include 'auction_item.html' %} 
    {% empty %}
        <p>There are no recorded auctions.</p>
    {% endfor %}

{% endif %}

{% endblock %}

{% block js %}

<!-- passing time data from django auction object through list object to js for timer setup -->

<script>
    var auctions = [];
    {% for auction in auctions %}
        auctions.push({
            pk: "{{ auction.id }}",
            start_date: "{{ auction.start_date.isoformat }}",
            duration: "{{ auction.duration|to_milliseconds }}",
        });
    {% endfor %}
</script>
<script type="text/javascript" src="{% static 'js/timer.js' %}"></script>

{% endblock %}