{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Auctions Page{% endblock %}

{% block page_heading %}
{% if identifier %}My Auctions
{% elif 'live' in request.path %}Live Auctions
{% else %} Auctions List
{% endif %}
{% endblock %}

{% block page_content %}
{% if identifier %}
    <div class="container-fluid">
        <div class="row">
            {% for oa in own_auctions %}        
            {% include 'auction_item.html' with auction=oa %}
            {% empty %}
                <p>You don't have any auction yet.</p>
            {% endfor %}
        </div>
    </div>
{% elif 'live' in request.path %}
    <div class="container-fluid">
        <div class="row">
            {% for la in live_auctions %}
            {% include 'auction_item.html' with auction=la %}
            {% empty %}
                <p>There are no live auctions.</p>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            {% for a in auctions %}
            {% include 'auction_item.html' with auction=a %}
            {% empty %}
                <p>There are no recorded auctions.</p>
            {% endfor %}
        </div>
    </div>    
{% endif %}

{% endblock %}