{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Auctions Page{% endblock %}

{% block page_heading %}
{% if seller %}My Auctions
{% else %}Auctions List
{% endif %}
{% endblock %}

{% block page_content %}

{% if seller %}
    {% for oa in own_auctions %}        
        <!-- <h3>{{ oa.painting.name }}</h3> -->
        <div class="container-fluid">
            <div class="row">
                {% include 'auction_item.html' with auction=oa %}
            </div>
        </div>
    {% empty %}
        <p>You don't have any open auction yet.</p>
    {% endfor %}
{% else %}
    {% for a in auctions %}
        <!-- <h3>{{ a.painting.name }}</h3> -->
        <div class="container-fluid">
            <div class="row">
                {% include 'auction_item.html' with auction=a %}
            </div>
        </div>
    {% empty %}
        <p>There are no live auctions.</p>
    {% endfor %}    
{% endif %}


{% endblock %}