{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}User Profile Page{% endblock %}

{% block page_heading %}User Profile{% endblock %}

{% block page_content %}

<form method = 'POST'>

    {% csrf_token %}

    <img src="{{ user.profile.avatar.url }}" alt="{user.profile.avatar.name}" max-width="200" height="100"/>
    <p>Your email address: {{ user.email }}</p>

    {{ edit_user_form | as_bootstrap }}
    {{ edit_profile_form | as_bootstrap }}
    
    <a href="{% url 'delete_profile' %}" class='btn btn-danger'>Delete Profile</a>
    <button class="btn btn-primary" type='submit'>Update</button>

</form>

{% endblock %}