  <br>
  <h3>Payment information</h3>
  <br>
  <h6>Please select your payment plan:</h6>
  <div>
    <label for="M01">Monthly
        <input type="radio" name="plan" id="M01" value="M01">
    </label>
    <label for="Y01">Yearly
        <input type="radio" name="plan" id="Y01" value="Y01">
    </label>
</div>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" class='container'>
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>
