{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block head %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block page_heading %}User Registration{% endblock %}

{% block page_content %}

<form method = 'POST'>

    {% csrf_token %}

    {{ reg_form | as_bootstrap }}

    <button class="btn btn-primary" type='submit'>Register</button>

</form>

<p>Already registered? You can proceed to <a href="{% url 'login' %}">Login</a> page</p>

{% endblock %}