<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/e8e6cf91f9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>{% block page_title %}{% endblock %}</title>
        {% block js %}{% endblock %}
    </head>
    <body>
        <nav class='navbar navbar-light bg-light'>
            <ul class='nav'>

              {% if user.is_authenticated %}
                <li class="nav-item px-3"><a href="{% url 'edit_profile' %}">Profile</a></li>
                <li class="nav-item px-3"><a href="{% url 'logout' %}">Logout</a></li>
              {% endif %}

              {% if user.is_authenticated == False %}
                <li class="nav-item px-3"><a href="{% url 'login' %}">Login</a></li>
                <li class="nav-item px-3"><a href="{% url 'register' %}">Register</a></li>

              {% elif subscription == False %}
                <li class="nav-item px-3"><a href="{% url 'unsubscribe' %}">Cancel Subscription</a></li>

              {% elif subscription == True %}
                <li class="nav-item px-3"><a href="{% url 'resubscribe' %}">Reactivate Subscription</a></li>

              {% endif %} 
            </ul>
            <div>
              <a href="{% url 'view_cart' %}">
                <i class="fas fa-cart-plus"></i> Cart
                  {% if painting_count > 0 %}
                  <label class="badge badge-warning">{{ painting_count }}</label>
                  {% endif %}
              </a>
            </div>
        </nav>
        
        <br>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="/media/default/logo.png" alt="logo" max height=70px></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Art Trend
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for t in trend %}
                  <a class="dropdown-item" href="{% url 'filter' item='trend' id=t.id %}">{{ t }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'string_filter' item='trend' string='all' %}">All Trends</a>
                </div>
              </li>
            
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Subject
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for s in subject %}
                  <a class="dropdown-item" href="{% url 'filter' item='subject' id=s.id %}">{{ s }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'string_filter' item='subject' string='all' %}">All Subjects</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Medium
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for m in media %}
                  <a class="dropdown-item" href="{% url 'filter' item='media' id=m.id %}">{{ m }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'string_filter' item='media' string='all' %}">All Media</a>
                </div>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Size
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for x,y in size %}
                    {% if x != '' %}
                      <a class="dropdown-item" href="{% url 'string_filter' item='size' string=y %}">{{ y }}</a>
                    {% endif %}
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'string_filter' item='size' string='all' %}">All Sizes</a>
                </div>
              </li>
              
              {% if user.is_authenticated and user.profile.profile_type == 'ARTIST' %}
              <li class="nav-item dropdown">  
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Paintings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'new_painting' %}">New</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'paintings' %}">All Paintings</a>
                </div>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href=" {% url 'paintings' %} " id="navbarDropdown" >Paintings</a>
              </li>
              {% endif %}
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'artists' %}">Artists</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              
               <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              
            </ul>

          </div>
        </nav>
        
        
        <h1>{% block page_heading %}{% endblock %}</h1>
        
        <div>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
        
        {% block page_content %}{% endblock %}
    </body>
</html>